//scss herbruikbaar voor op elke pagine
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-default {
  @include button-variant(rgba(0,0,0,0.3), white, white, rgba(0,0,0,0.6), white, white);
  border-radius: 0;
}
@font-face {
  font-family: pop;
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
h1{
  font-size: 48px;
  font-family: pop;
}
h2{
  font-size: 36px;
  font-family: pop;
}
h3{
  font-size: 24px;
  font-family: pop;
}
p{
  font-size: 18px;
  font-family: pop;
}
//mixins


//globale classes


//header start

//header end


//footer start

//footer end
